#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none; /* リストのマークを消す */
  padding: 0;
}

.todo-item {
  display: flex; /* 子要素を横並びにする */
  justify-content: space-between; /* 左端と右端に要素を配置 */
  align-items: center; /* 垂直方向を中央揃え */
  padding: 8px 0 8px 5px; /* 少し余白を追加 */
  border-bottom: 1px solid #ddd; /* 下線を追加して見やすくする */
}

.delete-task-button {
  background-color: #474849; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: none; /* ボタンの枠線を消す */
  border-radius: 4px; /* 角を少し丸める */
  padding: 4px 8px; /* ボタン内の余白 */
  cursor: pointer; /* ホバー時にポインター表示 */
  margin-right: 5px;
}

.delete-task-button:hover {
  background-color: #d32f2f; /* ホバー時の背景色 */
} 